<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "[PARKOUR practice part 1 AVOID THE CRAB.supergogitasaiyan4.edu.mit.scratch]"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[Parkour practice 1 AVOID THE CRAB]</name>

    <description>
        An app made using Scratch, GitHub, and PhoneGap.
    </description>

    <author href="http://scratch.mit.edu/users/[supergogitasaiyan4]" email="[supergogetasaiyan04@gmail.com]">
        [Shawin Soranakom]
    </author>

</widget>
